{% extends 'base.html.twig' %}
{% block stylesheets %}
                   <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.css') }}">
                           <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
                           <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
                {% endblock %}
{% block body %}
    <h1>Note modifier</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Edit" /><br /><br />
    {{ form_end(edit_form) }}

            <a href="{{ path('note_index') }}" class="btn btn-warning">Back to the list</a><br /><br />
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
