{% extends 'base.html.twig' %}
{% block stylesheets %}
                   <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.css') }}">
                           <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
                           <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
                {% endblock %}
{% block body %}
    <h1>Coefficient creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
    <br /><br />
            <a href="{{ path('coefficient_index') }}" class="btn btn-warning">Back to the list</a>
{% endblock %}
