{% extends "::base.html.twig" %}

{% block title %}ecoleEcoleBundle:Enseignant:listEnseignant{% endblock %}
{% block stylesheets %}
                   <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.css') }}">
                           <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
                           <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
                {% endblock %}
{% block body %}

<div class="container">
<h1>Etudiants</h1>
<form style="margin-bottom: 10px;" action="rechStudent" method="GET">
  <input class="form-control" type="text" placeholder="Recherche par nom" name="nom" />
</form>
<!-- <form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>Date Naissance</th>
                <th>Lieu</th>
                <th>image</th>


            </tr>
        </thead>
        <tbody>
        {% for st in studs %}
            <tr>
                <td>{{ st.id }}</td>
                <td>{{ st.nom }}</td>
                <td>{{ st.prenom }}</td>
                <td>{{ st.genre }}</td>
                <td>{{ st.date|date('d-m-Y') }}</td>
                <td>{{ st.lieu }}</td>
                <td> <img src="{{ asset('images/'~st.path)}}" alt="" style="width: 75px; height: 75px;" /></td>
                <td><a class="btn btn-success" href="{{ path('edit_student', { 'id': st.id }) }}">Modifier</a></td>
                <td><a class="btn btn-danger" href="{{ path('remove_student', { 'id': st.id }) }}"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></td>
</tr>
{% else %}
<tr><td>Aucun Etudiant n''a été trouvé.</td></tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('student_new') }}" class="btn btn-primary">
                Ajouter
            </a>

</form> -->

{% for st in studs %}
<div class="col-md-3 text-center" style="margin-bottom: 35px;font-size:18px;padding: 5px;">
  <div style="border: 1px solid rgba(0,0,0,0.1);">
  <div style="margin-bottom:7px;">{{ st.nom }}</div>
  <div style="margin-bottom:7px;">{{ st.prenom }}</div>
  <div style="margin-bottom:7px;">{{ st.genre }}</div>
  <div style="margin-bottom:7px;">{{ st.classe.libelle }}</div>
  <div style="margin-bottom:7px;">{{ st.date|date('d-m-Y') }}</div>
  <div style="margin-bottom:7px;">{{ st.lieu }}</div>
  <div style="margin-bottom:7px;"> <img src="{{ asset('images/'~st.path)}}" alt="" style="width: 150px; height: 150px;" /></div>
  <div style="margin-bottom:7px;"><a class="btn btn-success btn-block" href="{{ path('edit_student', { 'id': st.id }) }}">Modifier</a></div>
  <div><a class="btn btn-danger btn-block" href="{{ path('remove_student', { 'id': st.id }) }}"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></div>
  </div>
</div>
{% endfor %}
<div>
</div>
    {% endblock %}
